body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* color-button HTML */
.color-btn-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.color-btn {
    background-color: white;
    padding: 50px 70px;
    border: 2px solid gray;
    border-radius: 12px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.color-btn:hover {
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* DIGITAL-CLOCK HTML */

/* ------------------------------
# align-items HTML
------------------------------ */
.container-ai {
    width: 100vw;
    height: 150px;
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    margin-bottom: 20px;
}

.box-ai {
    height: 50px;
    width: 50px;
    background-color: #003049;
    border: 1px solid #fcbf49;
}

.center-box {
    height: 80px;
}

#flex-start-ai {
    align-items: flex-start;
}

#flex-end-ai {
    align-items: flex-end;
}

#center-ai {
    align-items: center;
}

#baseline-ai {
    align-items: baseline;
}

section .box-ai {
    height: 100%;
}
